body{
  margin:0;
  padding:0 0 0 270px;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background-color: #F2f2f2;
  color: #323232;
  text-align: justify;
 }
 div#left-sidebar{
  position:absolute;
  top:0;
  left:0;
  width:270px;
  height:100%;
  overflow: auto;
 }

 @media screen{
  body>div#left-sidebar{
   position:fixed;
  }
 }
 * html body{
  overflow:hidden;
 }
 * html div#main{
  height:100%;
  overflow:auto;
 }


/*atomic experiment, apparently */
.heading_font{ font-family: 'Amatic SC', cursive;}
.centered { text-align: center;}
.white {color: #D4D6D8;}
.bg_gray { background-color: #323232;}
.dark_gray { color: #323232;}
#left-sidebar a {text-decoration: none;}
.light_gray {color: #A6A6A6;}

.purple {color: #604A7B;}
.red {color: #A51203;}
.blue {color: #365F93;}
.green {color: #4F6228;}
.huge_text{font-size: 7em;}
.large_text{font-size: 5em;}
.med_text{font-size: 3.5em;}

.left_align {text-align: left;}
.right_align {text-align: right;}

.hidden {display: none;}
.transparent {opacity: 0;}

.width_medium {width: 75%;}

.small_text {font-size: 1.1em;}
.mar_zero_auto {margin: 0 auto;}

.large_break {height: 2em;}
.med_break{height: 0.25em;}
.small_break {height: 0.2em;}
.extra_small_break {height: 0.1em;}

.margin_top_fifty {margin-top: 50px;}
.margin_bottom_fifty {margin-bottom: 50px;}
.margin_bottom_thirty {margin-bottom: 30px;}
.margin_bottom_zero {margin-bottom: 0px;}
.mar_right_10 {margin-right: 10px;}
.mar_top_15 {margin-top: 15px;}
.pad_left_10 {padding-left: 10px;}
.pad_top_100 {padding-top: 100px;}
.pad_top_1 {padding-top: 1em;}
.pad_bot_1 {padding-bottom: 1em;}
.float_left{float: left;}

.width_left_text {width: 46%;}
.width_48 {width: 48%;}
.width_fifty {width: 50%;}
.width_100 {width: 100%;}

.inline_block {display: inline-block;}
.opac_half {opacity: 0.5}

.nav_div a:hover{color: #4F6228;}
.andrea_pic {height: 125px;}

.light_weight{font-weight: 300;}
#contact{min-height: 650px;}

.project_pic {
  width: 50%;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 3px;
  float: right;
  overflow: auto;
}
.mar_left_10 {margin-left: 10px}

div.container {
  overflow: auto;
  width: 100%
}

.narrow{width: 25%;}

hr {
  margin-top: 0;
  background-color: #BFBFBF;
  border: none;
}


@media(max-width: 900px) {
  .huge_text{ font-size: 5em;}
  .large_text{ font-size: 3.5em;}
}

@media(max-width: 800px) {
  .huge_text{ font-size: 4em;}
  .large_text{ font-size: 2.8em;}
}

@media(max-width: 1000px) {
  #left-sidebar{visibility: hidden;}
  body{padding: 0 0 0 0;}
}

@media(max-width: 730px){
  .project_pic {
    float: none;
    width: 100%;
  }

  .descrip_text{
    float: none;
    width: 100%;
  }


}

#landing_div{
  background-image: url("http://subtlepatterns.com/patterns/white_wall.png");
  height: 100vh;
  min-height: 800px;
}

a{
  text-decoration: none;
  color: #323232;
  font-family: 'Open Sans', sans-serif;
}

footer {
  background-color: #BFBFBF;
  font-size: 0.8em;
}
